<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<link rel="stylesheet" href="styles/style.css" /> 

</head>
<body>
<header>  
</header>


<div id="globe-container">
</div>


<div id="mount-target">
        <ul class="megan-list-inline">
            <li v-for="book in displayBooks" class="panel panel-default">
                <div id="book-card">
                    <div class="panel-heading">
                        <h4 id="book-title"> {{ book.title }} </h4>
                        <p v-if="getAuthorName(book)"> {{ getAuthorName(book) }} </p>
                    </div>
                    <div class="panel-body">
                    <img v-if="imageUrl(book)" class="img-responsive" :src="imageUrl(book)" /> 
                    <a class="btn" v-if="gotoGoodreads(book) !== ''" :href="gotoGoodreads(book)" target="_blank">
                        <button>
                            View on Goodreads
                        </button>
                    </a>
                    </div>
                </div>
            </li>
        </ul>
</div>

<script src="js/globe.js"></script>
</body>
</html>