body {
  background-color: black;
  display: flex;
}

.water {
  fill: rgb(4, 21, 73);
}

.land {
  fill: rgb(22, 102, 44);
  stroke: rgb(52, 141, 76);
  stroke-width: 0.7px;
}

.land:hover {
  fill:rgb(52, 141, 76);
  stroke-width: 1px;
}


.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: sans-serif;
}

#book-title {
  text-transform: uppercase;
}

.img-responsive {
  height: 150x;
}

#book-card {
  height: 450px;
  width: 200px;
}

#globe-container {
  width: 50vw;
}

#mount-target {
  width: 50vw;
}
.megan-list-inline {
  /*
  remove  dot for each list item.
  use inline-flex display
  flex-wrap should be on
  width should be 50vw again*/
  display: inline-flex;
  list-style: none;
  width: 50vw;
  flex-wrap: wrap;
  height: 98vh;
  overflow: scroll;
}