.body {
  background-color: rgb(180, 178, 178);
}

.water {
  fill: rgb(4, 21, 73);
}

.land {
  fill: rgb(0, 0, 0);
  stroke: rgb(180, 178, 178);
  stroke-width: 0.7px;
}

.land:hover {
  fill:rgb(180, 178, 178);
  stroke-width: 1px;
}

.focused {
  fill: rgb(255, 255, 255);
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: sans-serif;
}

.book-title {
  text-decoration: underline;
  text-transform: uppercase;
}